<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amsa Osun State Tajneed Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="maintenance-container">
        <div class="maintenance-card">
            <img src="/static/amsa_logo.png" alt="Amsa Logo" >
            <h1>Maintenance in progress</h1>

            <p>Assalamu Alaikum Warahmatullahi Wabarakatuhu</p>
            <p>The Tajneed registartion app is currently under maintenance as some updates is being currently made.</p>

            <p>Kindly check back shortly. We sincerely apologise for any inconveniences it might have caused.</p>

             <p>Jazakumullahu Khairan for your patience.</p>
        </div>
    </div>
</body>
</html>